<!doctype html>
<html lang="id">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}SecretPic{% endblock %}</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header class="nav">
  <a class="brand" href="{{ url_for('index') }}">
    🔐 SecretPic
  </a>

  <nav>
    <a href="{{ url_for('hide') }}">Hide</a>
    <a href="{{ url_for('extract') }}">Extract</a>
    <a href="{{ url_for('analysis') }}">Analysis</a>
    <a href="{{ url_for('about') }}">About</a>
  </nav>
</header>

<main class="container">

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
      <div class="alert {{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endwith %}

  {% block content %}{% endblock %}

</main>

<footer>
  SecretPic — Proyek Keamanan Informasi
</footer>

</body>
</html>